.new-tweet {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bolder;
  width: 100%
}

textarea {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 2px solid;
  outline: none;
}

form div span {
  display:flex;
  justify-content: space-between;
}

.tweet-btn {
  display: flex;
  justify-content: flex-start;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  background-color: #4056A1;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: 'Bungee', cursive;
}

.red-counter {
  color: #FF0000;
}

.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FF0000;
  border: 3px solid #FF0000;
}